.animate_on_view {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;

    transition-delay: calc(sibling-index() * 0.15s);
}

.animate_on_view.in_view {
    opacity: 1;
    transform: translateY(0);
}