.appointment-left__steps-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.appointment-step{
    display: flex;
    gap: .5rem;
    
    &::before{
        content: attr(data-step);
        
        width: 28px;
        flex-shrink: 0;
        height: 28px;
        border-radius: 50%;
        background: rgba(139, 26, 43, 0.35);
        border: 1px solid rgba(139, 26, 43, 0.55);
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        font-family: contrast;

        font-size: 0.72rem;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.75);
    }
}

.appointment-step__wrapper{
    display: flex;
    flex-direction: column;
}

.appointment-step__title{
    font-size: 0.84rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 3px;
}

.appointment-step__paragraph{
    font-size: 0.76rem;
    color: rgba(255, 255, 255, 0.38);
    font-weight: 400;
    line-height: 1.55;
}