package pages_appointment_confirmed

import "xeubiart.com/templates/appointment"

type Props struct{

}

templ AppointmentConfirmed(props Props){
    @templates_appointment.TemplatesAppointment(templates_appointment.Props{
        Title: "Sessão marcada — Xeubiart",
        Header: header(),
    }){
        asdasdasd        
    }
}

templ header(){
}

