main{
    padding: unset;
}

.step_container{
    width: inherit;
    min-height: 100%;
    padding: 2rem;

    position: relative;
    display: none;

    & .eyebrown:not(.type-cherry){
        padding: unset;
    }
}

.step_container--shown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}