main{
    width: 100%;
    height: fit-content;

    @media (width > 670px) {
        position: relative;
    }
}

.step_container{
    width: inherit;
    padding: inherit;
    height: inherit;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.step_container--shown{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}