.opt-email{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #fff;
    border: 1.5px solid var(--border);
    border-radius: 100px;
    padding: 8px 16px;
    font-size: 0.82rem;
    color: var(--text);
    align-self: flex-start;

    & icon {
        color: var(--cherry);
    }

    & span{
        & em{
            color: var(--cherry);
            font-style: normal;
        }
    }
}