.cards_holder{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

@media (width > 670px) {
    main .cards_holder_position{
        display: none;
    }

    .cards_holder{
        grid-template-rows: 1fr;
    }
}